<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Produtos</title>
</head> 
<body>
  {{ url_for('static', filename='style.css') }}
    <h2>Coca-Cola</h2>
    <p>Paia</p>

    <h2>Pepsi</h2>
    <p>Só presta a twist</p>

    <h2>Dolly</h2>
    <p>O MELHOOOOOR</p>

    <h2>Monster</h2>
    <p>Coisa de tchola</p>

    <h2>Baly</h2>
    <p>Tropical é top</p>
    
    <h2>Schweppes</h2>
    <p>Melhor refri do mundo</p>

    <h2>Torcida</h2>
    <p>Super brasileiro</p>

    <h2>Doritos</h2>
    <p>CALIENTE</p>
    
    {% for produto in produtos %}
  <h2>{{ produto.nome }}</h2>
  <p>{{produto.descricao}}</p>
    {% endfor %}
    
</body>
</html>

{% extends "base.html" %}
{% block title %} Produtos {% enblock %}
{% block content %} 
<h1>Produtos</h1>
{% for produto in produtos %}
<h2>{{ produto.nome }}</h2>
<p>{{ produto.descricao }}</p>
<a href="produtos/{{ produto.nome }}">Ver produto</a>