<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
    <title>Produtos</title>
</head> 
<body>
  {{ url_for('static', filename='style.css') }}
    <h2>Coca-Cola</h2>
    <p>Ruim</p>

    <h2>Pepsi</h2>
    <p>Ruim</p>

    <h2>Dolly</h2>
    <p>Custo beneficio</p>

    <h2>Monster</h2>
    <p>Caro d+++</p>

    <h2>Baly</h2>
    <p>Vício</p>

    {% for produto in produtos %}
  <h2>{{ produto.nome }}</h2>
  <p>{{produto.descricao}}</p>
    {% endfor %}
    
</body>
</html>